body {
  display: flex;
}

nav {
  background-color: #c7e8f3;
  width: 15%;
  height: auto;
}

ul {
  list-style-type: none;
}

header {
  background-color: #bf9aca;
  min-width: 100%;
  height: 200px;
}

section {
  background-color: #8e4162;
}

footer {
  background-color: #eda2c0;
}

h1 {
  color: #41393e;
}
