body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #282C34;
}

.navbar {
  margin: 0;
  padding: 0;
  height: 3rem;
}

.navbar .nav-ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  background-color: #393e47;
  color: #DDDDDD;
}

.nav-item {
  
}
